<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>welcome</h1>
    <!-- <nav>
        <a href="/">back</a>
        <a href="/data">more</a>
        <a href="/">something</a>
    </nav>
        <h1>HEADING</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi praesentium a ratione, autem reprehenderit
        nulla soluta porro provident tempora debitis possimus blanditiis facilis ex quo quasi id hic sint cumque.</p> -->

        <% for(let i=0;i<=10;i++){ %>
            <%= i%>
        <% }%>
</body>

</html>